.notes/
data/cache/
data/texts/
.nrepl-port
.cpcache/
target/
*.class
.idea/
models/
.clj-kondo/
*.iml
docs/archive/
docs/transcripts/
data/experiments/094/phrase-results.edn
data/sequences/
docs/images/
